.Stats {
  position: absolute;
  width: 96%;
  left: 2%;
  top: 75%;
  &__Stat {
    font-Family: Regular-Font;
    font-Size: 20px; 
    color:#393218; 
    text-Align: center;
    font-Weight: bold;
    &__Rating {
      font-Size: 28px; 
    }
  }
}