.Overall {
  position: absolute;
  width: 19%;
  top: 12%;
  left: 7%;
  font-family: Bold-Font;
  color:#393218; 
  font-weight: bold;
  &__Rating {
    font-size: 312.5%;
    text-align: left;
  }
  &__Position {
    font-size: 200%;
    text-align: center;
  }
}