.Stats {
  position: absolute;
  width: 96%;
  left: 2%;
  top: 75%;
  &__Stat {
    font-family: Regular-Font;
    font-size: 125%; 
    color:#393218; 
    text-align: center;
    font-weight: bold;
    &__Rating {
      font-size: 175%; 
    }
  }
}