.PlayerSelector {
  position: relative;
  width: 254px;
  height: 100px;
  background-color: red;
}

.PlayerSelector .ant-select-item-option-selected {
  background-color: #141414;
}

.PlayerSelector .ant-select-item-option-active {
  background-color: #F5D409;
}