.Header {
  background-color: #F5D409;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Title {
  font-family: Bold-Font;
  text-align: left;
  font-size: 20px;
}